@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.background-img {
  height: 100vh;
  background-image: url(images/Food.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* headers */

h1 {
  font-size: 4rem;
  font-weight: 700;
  padding-bottom: 2%;
}

h2 {
  font-weight: 700;
}

.container-fluid {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* navbar */

.navbar {
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  /* background-color: purple; */
  transition-property: color;
  transition-duration: .5s;
  transition: ease-in-out;
}

.navbar-handle {
  display: flex;
  align-items: center;
}

.navbar-toggler {
  border: none;
  font-size: 1rem;
  padding-left: 0;
  --bs-navbar-toggler-focus-width: 0rem;
}

.company-name {
  padding-left: 3%;
  display: inline-block;
  margin: 0;
}

.outside-button {
  border-radius: 2rem;
}

.navbar-brand {
  margin: 0;
}

.btn-white {
  background-color: white;
}

.offcanvas.offcanvas-start {
  width: 275px;
}

.account-buttons {
  margin-top: 25px;
}

.account-btn-dark,
.account-btn-light {
  padding: 10px 0;
}

.account-link {
  width: 200px;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: black;
}

.btn-light {
  background-color: #eaebec;
}

.app-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1.5rem 5rem;
}

.app-slogan {
  display: flex;
  text-align: left;
  gap: 5%;
}

.app-img {
  width: 5rem;
}

.company-img {
  border-radius: 15%;
}

.company-app {
  display: flex;
  align-self: start;
  padding-top: 10px;
  gap: 5%;
}

.apple-app {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
}

.android-app {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
}

.android-icon {
  width: 16px;
}

span {
  padding-left: 6px;
  font-weight: 600;
}

/* title page */

#title-page {
  position: absolute;
  top: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.location-container {
  display: flex;
  align-items: center;
  gap: 0.5%;
  padding-bottom: 15px;
}

#address-container {
  background-color: white;
  padding: 12px 0 12px 12px;
  width: 600px;
}

.address-container {
  display: flex;
}

.location-icon {
  padding: 3px 10px;
}

.delivery-input {
  border: none;
  width: 540px;
  padding-left: 2%;
}

input:focus {
  outline: none;
}

.dropdown-toggle {
  background-color: white;
  color: black;
  padding: 15px;
}

.dropdown-toggle:hover {
  background-color: white;
  color: black;
}

.btn-secondary {
  --bs-btn-active-bg: white;
  --bs-btn-active-color: black;
  --bs-btn-border-width: 0;
  --bs-btn-border-radius: 0;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--bs-tertiary-bg);
  border-radius: 0;
  border: none;
}

.dropdown ul[style] {
  transform: translate(0px, 53px) !important;
  box-shadow: 0 -1px 2px rgb(240, 240, 240);
}

.deliver-container i,
.schedule-container i {
  padding-right: 4px;
}

.location-button {
  padding: 15px;
  border: none;
  font-weight: 700;
}

a:visited {
  color: black;
}

/* second section */

/* feature section */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 70px;
  padding-bottom: 90px;
  gap: 1%;
}

.grid-img {
  width: 590px;
  height: 330px;
}

.grid-item img {
  width: 100%;
  height: 100%;
}

.grid-item p {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 0;
}

/* location section */

.cities-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

/* cities list */

.cities-list {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  grid-auto-flow: column;
  padding-top: 25px;
  padding-bottom: 90px;
}

.countries-list {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  grid-auto-flow: column;
  padding-bottom: 90px;
}

/* footer */
.footer-section {
  display: flex;
  padding-top: 50px
}

.app-store {
  display: flex;
  flex-direction: column;
  gap: 140px;
  /* justify-content: space-between; */
  flex: 2;
}

.apps {
  display: flex;
  align-items: center;
  gap: 16px;
}

.appstore-img {
  width: auto;
  height: 40px;
}

.link {
  flex: 1;
}

.link1 {
  display: flex;
  line-height: 24px;
  margin-bottom: 16px;
  text-decoration: none;
}

.language-icon {
  block-size: 19px;
  padding-right: 5px
}

.s-c {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: 300;
  padding-top: 20px;
}

.socials ul,
.terms {
  display: flex;
  gap: 20px;
}

.terms a,
.copywrite a,
.cities-list a,
.countries-list a {
  text-decoration: none;
}

.copywrite-container {
  display: flex;
  justify-content: right;
  padding-bottom: 100px;
}

.copywrite {
  display: flex;
  gap: 20px;
}

.tog {
  font-weight: 300;
}

.light-hr {
  color: rgb(212, 212, 212);
}

/* effects */

.link1:hover,
.terms a:hover,
.copywrite a:hover {
  text-decoration: underline;
}

/* language prompt */

.unhidden {
  display: block;
}

.modal {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  justify-content: left;
  background-color: white;
  width: 470px;
  height: 250px;
  border: none;
  border-radius: 0;
  padding: 20px;
  top: 70px;
}

.language {
  margin-bottom: 20px;
}

.close-button {
  margin-bottom: 25px;
  display: flex;
  justify-content: left;
  align-items: center;
  border: none;
  width: 25px;
  border-radius: 100%;
  background-color: transparent;
}

.en-lang{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(30, 126, 94);
}

.fa-check {
  font-size: 25px;
}

.modal-content a {
  cursor: pointer;
}

.navbar-white {
  background-color: rgba(255, 255, 255) !important;
  color: #000000 !important;
}